<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.dream.sleepsafe">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".BaseApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".homescreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hebergerhome.HebergerHomeActivity" />
        <activity android:name=".hebergerreceived.HebergerReceivedActivity" />
        <activity android:name=".herbergerconnection.HebergerConnectionActivity" />
        <activity android:name=".hebergerinscription.HebergerInscriptionActivity" />
        <activity android:name=".hebergerinformation.HebergerInformationActivity">
        </activity>
        <activity android:name=".hebergerdispo.HebergerDispoActivity" >
            <intent-filter>
                <action android:name="fzkdhvsvls"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".hebergeraccept.HebergerAcceptActivity">
            <intent-filter>
                <action android:name="kdshvlshl" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>




        <service android:name=".MyFireBaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/accent" />
        <activity android:name=".newsinister.NewSinisterActivity"></activity>
    </application>

</manifest>